<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HuiShengHuo2.0.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7644A63DA6FC88756CA3513E86BFC5E5F8672E8B</string>
				<key>dateExpires</key>
				<string>2019/1/7</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8YFLG57N86.com.huishenghuo.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8YFLG57N86</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HuiShengHuo2.0.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2c5fa416-5352-4640-993c-d396a5808c5f</string>
				<key>name</key>
				<string>adhoc测试</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8YFLG57N86</string>
				<key>name</key>
				<string>Shanxi Huacheng Zhonghui Information Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
